.modal-content {
  padding: 16px 32px;

  .modal-title {
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 700;
    color: $black;
  }

  .add-form {
    .form-img {
      border: 1px solid #d7d7d7;
      padding: 10px 40px;
      display: inline-flex;
      margin-bottom: 16px;

      img {
        width: auto;
        height: 100px;
      }
    }

    input,
    textarea {
      padding: 8px;
      margin-bottom: 16px;

      &::placeholder {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
  .action-btns {
    text-align: right;
    margin-top: 32px;

    button {
      margin-left: 12px;
    }
    .btn-light {
      background: none !important;
      border: none;
    }
  }
}
